body {
  height: 3.125rem;
  background: url("../image/mem.png") no-repeat center/100% 100%;
  position: absolute;
  left: 50%;
  margin-left: -1.5625rem;
}

div {
  background: url("../image/mem.png") no-repeat center/100% 100%;
  position: absolute;
  width: 3.125rem;
  height: 6.25rem;
}
